# Ignore virtual environments
my_env/
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db

# Ignore model checkpoints or large data
*.h5
*.ckpt

#Ignore actual model
# Ignore trained model files
*.keras
*.h5
pneumonia_model/

# Ignore dataset folders
chest_xray/

